<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/room.css">
    <link rel="stylesheet" href="/styles/modal.css">
    <link rel="stylesheet" href="/icons/icomoon/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap" rel="stylesheet">

    <title>Rocket.Q - Perguntas e Respostas</title>
</head>

<body>
    <header id="header" class="container">
        <a href="/">
            <img class="logo" src="/images/logo.svg">
        </a>
        <div class="buttons">
            <div id="room-id" data-id="<%= roomId %>" class="room-code btn btn_white">
                #<%= roomId %>
                    <i class="icon-copy"></i>
            </div>
            <a href="/create-pass">
                <div class="room-create btn btn_normal">
                    <i class="icon-users"></i>
                    Criar Sala
                </div>
            </a>
        </div>
    </header>
    <div id="input" class="container">
        <h2>Faça sua pergunta</h2>
        <form class="form" action="/question/create/<%= roomId %>" method="POST">
            <label class="sr-only" for="question">Pergunta para ser feita</label>
            <textarea class="input-area" name="question" id="question" placeholder="O que você quer perguntar?"></textarea>
            <div class="footer">
                <div class="info">
                    <i class="icon-lock"></i>
                    Esta pergunta é anônima
                </div>
                <input type="submit" class="btn-enviar btn btn_normal" value="Enviar">
            </div>
        </form>
    </div>
    <div id="cards" class="container">

        <% 
        let id = ''
        let cardType = ''
        let title = ''
        questionsUnread.forEach(e => { 
            cardId = e.id
            title = e.title
            cardType = "card_unread"
        %> 
        <%- include("parts/card", {cardId: cardId, cardType: cardType, title: title}) %>
        <% }) %>
        <% questionsRead.forEach(e => { 
            cardId = e.id
            title = e.title
            cardType = "card_read"
        %> 
        <%- include("parts/card", {cardId: cardId, cardType: cardType, title: title}) %>
        <% }) %>

    </div>

    <!-- MODAL -->

    <div class="modal-wrapper hidden" data-id="">
        <div class="modal">
            <h2></h2>
            <p></p>
            <form action="#" method="POST">
                <label class="sr-only" for="password">Digite a sua senha</label>
                <input class="input-area" type="password" id="password" name="password" placeholder="Digite a sua senha"
                    required />

                <div class="buttons">
                    <div class="btn btn_fadded cancel">
                        Cancelar
                    </div>
                    <button class="btn proceed">
                    </button>
                </div>
            </form>

        </div>
    </div>

    <script src="/scripts/main.js" defer type="module"></script>

</body>

</html>